/* main.css */
.home-container {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-table {
  width: 90%; /* Adjust width as per your requirement */
  border-collapse: collapse;
  margin-bottom: 20px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #000000;
  text-align: left;
}

.custom-table th {
  background-color: #9e9e9e;
}

.double-border th,
.double-border td {
  border: 2px solid #000000;
}


.double-border th {
  background-color: #9e9e9e;
  
}
/* Define custom styles for tables */
.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table{
  color:black;
    font-weight: bold;
   
}


.custom-table.bank-table {
  width: 100%;
  
}

.custom-table.bank-table th,
.custom-table.bank-table td {
  padding: 8px;
  border: 1px solid #000000;
  text-align: center; /* Align text to center */
}

.custom-table.bank-table th {
  background-color: #212020; /* Set background color for bank table header */
  color: #fff; /* Set text color for bank table header */
}


.home-body {
  font-size: large;
  margin: 0;
  min-height: 100vh;
  background-color:#ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  backdrop-filter: blur(10px);
}

/*styles for addaccount--*/


.addaccount-body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.addaccount-container {
  color: black;
  font-weight: bold;
  font-size: large;
  width: 90%; /* Adjust the width as needed */
  max-width: 480px; /* Set a maximum width */
  overflow: hidden;
  border-radius: 8px;
  border: 2px solid rgb(0, 0, 0);
  backdrop-filter: blur(10px);
  background-color: #9e9e9e;
  
  
}
